* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    aspect-ratio: 2;
    object-fit: cover;
    height: 500px;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    margin: auto;
    max-width: 50%;
}

.position-relative{
    position: relative;
}

.btn-up,
.btn-down{
    font-size: 25px;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    background-color: lightgray
}

.btn-up{
    position: absolute;
    top: 235px;
    left: 950px;
}

.btn-down{
    position: absolute;
    bottom: 235px;
    left: 950px;

}


.debug .app,
.debug .carousel{
    border: 1px solid black;
}