* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.carousel-item {
    aspect-ratio: 21/9;
    object-fit: cover;
    display: none;
    width: 100%;
}

.active {
    display: block;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    margin: auto;
    max-width: 50%;
}

.position-relative{
    position: relative;
}

.btn {
	position: absolute;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: lightgray;
	left: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
    
}

.btn-up{
    top: 320px;
}

.btn-down{
    bottom: 320px;
}


.debug .app,
.debug .carousel{
    border: 1px solid black;
}